---
import ExperienceCard from '../components/ExperienceCard.astro';
import Social from '../components/Social.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me";

const identity = {
  firstName: "Antonio",
  country: "France",
  occupation: "Devops Engineer",
  hobbies: ["filmmaking", "yoga", "manwha"],
};

const contacts = [
{platform: "github", username:"mokuhasushi"}, 
{platform: "linkedin", username:"in/tironeantonio"}, 
{platform: "instagram", username:"antonio161803"},
{platform: "youtube", username: "donspazioanto"}
]

const skills = ["python", "golang", "docker", "linux", "bass guitar", "marathon running"];

---
<BaseLayout pageTitle={pageTitle}>
<p>
    I spent year 2025 traveling and exploring a
    new domain, documentary filmmaking.
    This was a very formative time for me,
    during which I developed confidence in
    myself and resolved to be meaningful in my
    actions.</p>
    <p>
    I am now looking for my next mission,
    focusing my research on those that might
    have a real impact on people lives.
</p>

    <h2>My contacts</h2>
    {contacts.map((c)=><Social platform={c.platform} username={c.username}/>) }
    <a href="https://bsky.app/profile/niotir.bsky.social" target="_blank">bluesky</a>
    
    <p>In case you came searching for a CV,
         <a href="https://storage.googleapis.com/public-antonio/CV%20Antonio%20Tirone.pdf" target="_blank">help yourself</a>
    </p>

    <h2>About this website</h2>

    <p>Most of the file structure comes from the Astro standard template. <br>
    Theme made by <a href="https://github.com/panr/hugo-theme-terminal" target="_blank">panr</a>,
    ported by <a href="https://github.com/dennisklappe">Dennis Klappe</a></p>

</BaseLayout>
