---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome!</h2>
  <p>I just deployed this website. Not sure yet as to what I am going to put here</p>
  <p>For the time being, feel fre to read about me in the <a href="/about/">About</a> page, or 
  go through some random thought in the /posts/ area. 
</p>
</BaseLayout>