---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome!</h2>
  <p>Feel free to read about me in the <a href="/about/">About</a> page, or 
  go through some random thought in the <a href="/posts/">Posts</a> area. 
</p>
</BaseLayout>