---
import { db, Comment, eq, desc } from "astro:db";

interface Props {
    postSlug: string;
}

const { postSlug } = Astro.props;

const comments = await db
    .select()
    .from(Comment)
    .where(eq(Comment.postSlug, postSlug))
    .orderBy(desc(Comment.createdAt));
---

<div class="container-comments">
    {
        comments.map((comment) => (
            <div class="comment">
                <div class="comment-name">{comment.name}</div>
                <div class="comment-date">
                    {comment.createdAt.toLocaleDateString()}
                </div>
                <div>{comment.message}</div>
            </div>
        ))
    }
</div>