---
import CommentsList from "./CommentsList.astro";
import CommentsForm from "./CommentsForm.astro";

interface Props {
    postSlug: string;
}

const { postSlug } = Astro.props;
---

<div class="comments-section">
    <h3>Comments</h3>
    <div>
        <CommentsForm postSlug={postSlug} />
        <CommentsList postSlug={postSlug} server:defer />
    </div>
</div>