---
import Social from './Social.astro'


---

<footer class="footer">
  <div class="footer__inner">
    <div class="copyright">
      <span>© 2025 </span>
      <span class="separator">::</span>
      <span> Antonio Tirone</span>
    </div>
  </div>
</footer>
