---
const base = "";
---
<div class="hamburger">
  <ul class="menu menu--mobile">
    <li class="menu__trigger">Menu ▾</li>
    <li>
      <ul class="menu__dropdown">
        <li><a href={`/about/`}>About</a></li>
        <li><a href="/experiences/">Experiences</a></li>
        <li><a href={`/posts/`}>Posts</a></li>
        <li><a href={`/tags/`}>Tags</a></li>
      </ul>
    </li>
  </ul>
</div>
