---
---

<div class="navigation-menu">
    <ul class="navigation-menu__inner menu--desktop">
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/tags/">Tags</a></li>
    </ul>
</div>